/* ────────────────────────────────────────────────────────────
 * Custom Theme for Walker
 * Made with Omarchist
 * ────────────────────────────────────────────────────────────
 */

@define-color selected-text #6488EA;
@define-color text #D7ebe9;
@define-color base #0A1429;
@define-color border #6488EA;
@define-color foreground #d7ebe9;
@define-color background #0A1429;

@define-color hover #6488EA;


window .search-container,
window .search {
  background: alpha(@hover, 0.8);
  color: @foreground;
  border: 1px solid alpha(@border, 0.5);
  border-radius: 3px;
  padding: 8px 12px;
  margin: 4px 0;
  font-size: 12px;
  font-weight: 500;
}


