:root {
--color00: #0A1429;
--color01: #0A1429;
--color02: #0A1429;
--color03: #e3e9f3;
--color04: #f6f9ff;
--color05: #E0F7FA;
--color06: #f6f9ff;
--color07: #f6f9ff;
--color08: #e95c4b;
--color09: #d7ebe9;
--color0A: #dfefed;
--color0B: #6488EA;
--color0C: #d8d0b7;
--color0D: #ceabad;
--color0E: #77aaa2;
--color0F: #ed7b6d;
}
